<h1>Words and Definitions</h1>
<p>Click on a word to see its definitions and add new ones.</p>
<div class="">
  <%= @words.each do |word| %>
  <li><a href="/word/ <%= word.word %>" ></a></li>
  <%= end %>
</div>
