<h1> <%= @word.word %> </h1>
<div class="">
  <ol>
    <% @definitions.each do |definition| %>
      <li> <%= definition.definition %> </li>
    <% end %>
  </ol>
</div>
<form action="/word/define/<%= @word.word_id %>" method="post">
  <textarea name="new_definition" rows="8" cols="80"></textarea>
  <button type="submit" name="button">Add Definition</button>
</form>
<a href="/">Return to Home Page</a>
